@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.font16 {
  font-size: 16px;
}

.font0 {
  font-size: 0;
}

.float__content{
  width: 225px;
  margin-left: 50px;
  float: left;
  box-sizing: border-box;
}

.float__content:first-child {
  margin-left: 0;
}

.table__container {
  display: table;
}

.table__content {
  width: 225px;
  padding-left: 50px;
  vertical-align: middle;
  display: table-cell;
}

.table__content:first-child {
  padding-left: 0;
}

.inlineblock__content {
  width: 225px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.inlineblock__content:first-child {
  margin-left: 0;
}

.flex__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex__content {
  width: 225px;
  box-sizing: border-box;
}

.margin__container {
  width: 100%;
  font-size: 0;
  box-sizing: border-box;
}

.margin__dont-move {
  width: 300px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.margin__move {
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

/* 回答はここに書いてね */
