@charset "UTF-8";

/* 回答はここに書いてね */
.q9__blowing {
  width: 500px;
  border: #222 solid 5px;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

.q9__blowing::before,.q9__blowing::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0 20px;
}

.q9__blowing::before {
  bottom: -25px;
  left: 30px;
  border-color: #222 transparent transparent transparent;
}

.q9__blowing::after {
  bottom: -18px;
  left: 30px;
  border-color: white transparent transparent transparent;
}

.q9__text {
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
